<div class="flex center-align rcard" style="background: linear-gradient(92.69deg, #00C1EB 0.65%, #00B3F9 100.59%);box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.18);border-radius: 8px;margin: 10px;padding: 10px 15px;">
    <div class="flex center-align">
        <img src="{{data.parking_img}}" alt="" height="45px">
    </div>
    <div class="flex column" style="margin-left: 30px;">
        <span style="color: white;font-size: 15px;">{{data.parking_name}}</span>
        <span style="color: white;font-size: 13px;margin-top: 4px;">زمان ورود : {{data.login_time}}</span>
        <span style="color: white;font-size: 13px;margin-top: 2px;">زمان خروج : 
            <span class="" style="color:rgb(0 255 21);font-size: 15px;">{{data.exit_time}}</span>
        </span>
        <span style="color: white;font-size: 13px;margin-top: 4px;">هزینه : {{data.price}}</span>
    </div>
</div>