<div class="flex max-width right-content">
    <form class="flex right-content column bottom-align change-p" style="width: min-content;" method="post">
        <input type="password" class='input-acc margin-24' placeholder='رمز عبور قبلی' required name="lpassword" />
        <input type="password" class='input-acc margin-24' placeholder='رمز عبور' required name="npassword" />
        <input type="password" class='input-acc' style="margin-bottom: 10px;" placeholder='تکرار رمز عبور' required name="repassword" />
        <span style="color: rgb(0, 0, 0);font-size: 14px;">حتما رمز عبور قوی انتخاب کنید</span>
        <span class="{{valid}}" style="color: red;font-size: 14px;">!!!اطلاعات وارد شده مشکل دارد</span>
        <div class="flex max-width center-content">
            <button type="submit" class='submit-btn' style="color: white;margin-top: 15px;" href="">ثبت</button>
        </div>
    </form>
</div>