
<div class='header'>
    <div class='header-flex center-align'>
        <div class="dropdown">
            {% if isLogined == "false" %}
            <button class="signin-btn">ثبت نام</button>
            <div class="dropdown-options">
                <a href="signin">کاربر عادی</a>
                <a href="signinparking">کاربر پارکینگ دار</a>
            </div>
            {% else %}
            <a href=""><img src="./static/asset/images/account.png" alt="" srcset="" style="width: 25px;"></a>
            {% endif %}
            
        </div>
    </div>
    <div class='header-list header-flex'>
        {% include "itemsheader.html" with title="درباره ما" select="dont-show" color="" link="aboutus" %}
        {% include "itemsheader.html" with title="خانه" select="" color="color-blue" link="home" %}
        
    </div>
    <div class='logo-web'>
        <img src="./static/asset/images/logo.png" alt='logo'/>
    </div>
</div>