{% for i in  parking %}
{% include "parkings.html" with parking=i %}
{% endfor %}
<script>
    function getQueryParams(url) {
        const paramArr = url.slice(url.indexOf('?') + 1).split('&');
        const params = {};
        paramArr.map(param => {
            const [key, val] = param.split('=');
            params[key] = decodeURIComponent(val);
        })
        return params;
    }
    function sendloc(){
        if(Object.keys(getQueryParams(document.URL)).length == 1){
            console.log('Ok')
            if(navigator.geolocation){
                console.log('Ok')
                try{
                    navigator.geolocation.getCurrentPosition((pos)=>{
                        document.location.href = '?la='+pos.coords.latitude+'&lo='+pos.coords.longitude;
                    })
                }
                catch(err){
                    document.location.reload();
                }
            }else{
                document.location.reload();
            }
        }
        
        
    }
</script>